/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Gothic+A1:wght@900&family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&family=PT+Sans+Narrow:wght@700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Noto Sans KR", sans-serif;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
.wrap {
  background: #282828;
}

*::-webkit-scrollbar {
  width: 10px;
  border: none;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  background-clip: padding-box;
  border: none;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
  border: none;
}

.container {
  max-width: 1920px;
  min-width: 360px;
  width: 100%;
  margin: 0 auto;
}

.container,
.container * {
  box-sizing: border-box;
}

.container .main {
  height: 100vh;
  padding: 118px 118px 118px 115px;
  background: #000;
  position: relative;
}

.container .main .scroll {
  position: absolute;
  bottom: 50px;
  left: calc(50%);
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .main .scroll p {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1;
  padding-top: 25px;
  border-radius: 5px;
}

.container .main .scroll .scroll-image {
  position: relative;
  width: 40px;
  height: 40px;
  transform: translateY(0%);
  opacity: 1;
}

.container .main.on .scroll .scroll-image {
  animation: scroll 1.5s infinite;
}

.container .main .scroll .scroll-image img {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateY(0%);
    opacity: 1;
  }
  5% {
    transform: translateY(3%);
    opacity: 1;
  }
  60% {
    transform: translateY(50%);
    opacity: 0;
  }
  80% {
    transform: translateY(0%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.container .main .inner-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background: #000000;
}

.container .main .inner-content .top,
.container .main .inner-content .mid,
.container .main .inner-content .bottom {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: min(8.33vw, 160px);
  transform-origin: left center;
  transform: rotate(5deg);
  margin-bottom: 23px;
}

.container .main .inner-content .mid {
  height: min(9.38vw, 180px);
}

.container .main .inner-content .bottom {
  padding-left: 5px;
  margin-bottom: 60px;
}

.container .main .inner-content .info-text-box div {
  position: relative;
  overflow: hidden;
  height: min(1.88vw, 36px);
  margin-bottom: 5px;
}

.container .main .inner-content .info-text-box div p {
  position: relative;
  font-size: min(1.67vw, 32px);
  font-weight: 400;
  letter-spacing: 0.02em;
  line-height: 1.3;
  color: #fff;
  text-align: center;
  transform: translateY(100%);
}

.container .main .inner-content.on .info-text-box div:first-child p {
  transform: translateY(0%);
  transition: 0.6s 0.9s all cubic-bezier(0.25, 1, 0.5, 1);
}

.container .main .inner-content.on .info-text-box div:last-child p {
  transform: translateY(0%);
  transition: 0.6s 1s all cubic-bezier(0.25, 1, 0.5, 1);
}

.container .main .inner-content .inner {
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 100%;
  left: 0;
}

.container .main .inner-content span {
  position: relative;
  font-size: min(8.33vw, 160px);
  letter-spacing: -0.025em;
  font-family: "Gothic A1", sans-serif;
  font-weight: 900;
  color: #1c78ff;
  line-height: 1.1;
  /* transform: rotateY(90deg); */
}

.container .main .inner-content .mid span,
.container .main .inner-content .bottom span {
  color: #fff;
}

.container .main .inner-content.on .top {
  transform: rotate(0deg);
  transition: 0.9s 0.02s all cubic-bezier(0.25, 1, 0.5, 1);
}

.container .main .inner-content.on .mid {
  transform: rotate(0deg);
  transition: 0.9s 0.12s all cubic-bezier(0.25, 1, 0.5, 1);
}

.container .main .inner-content.on .bottom {
  transform: rotate(0deg);
  transition: 0.9s 0.22s all cubic-bezier(0.25, 1, 0.5, 1);
}

.container .main .inner-content.on .top .inner {
  top: 0%;
  transition: 0.9s 0.32s all cubic-bezier(0.25, 1, 0.5, 1);
}

.container .main .inner-content.on .mid .inner {
  top: 0%;
  transition: 0.9s 0.42s all cubic-bezier(0.25, 1, 0.5, 1);
}

.container .main .inner-content.on .bottom .inner {
  top: 0%;
  transition: 0.9s 0.52s all cubic-bezier(0.25, 1, 0.5, 1);
}

/* .container .main .inner-content.on span {
  transform: rotateY(0deg);
} */

/* .container .main .inner-content.on .top span:nth-child(1) {
  transition: 0.2s 0.05s all;
}

.container .main .inner-content.on .top span:nth-child(2) {
  transition: 0.2s 0.1s all;
}

.container .main .inner-content.on .top span:nth-child(3) {
  transition: 0.2s 0.15s all;
}

.container .main .inner-content.on .top span:nth-child(4) {
  transition: 0.2s 0.2s all;
}

.container .main .inner-content.on .top span:nth-child(5) {
  transition: 0.2s 0.25s all;
}

.container .main .inner-content.on .top span:nth-child(6) {
  transition: 0.2s 0.3s all;
}

.container .main .inner-content.on .top span:nth-child(7) {
  transition: 0.2s 0.35s all;
}

.container .main .inner-content.on .top span:nth-child(8) {
  transition: 0.2s 0.4s all;
}

.container .main .inner-content.on .top span:nth-child(9) {
  transition: 0.2s 0.4s all;
}

.container .main .inner-content.on .bottom span:nth-child(1) {
  transition: 0.2s 0.45s all;
}

.container .main .inner-content.on .bottom span:nth-child(2) {
  transition: 0.2s 0.5s all;
}

.container .main .inner-content.on .bottom span:nth-child(3) {
  transition: 0.2s 0.55s all;
}

.container .main .inner-content.on .bottom span:nth-child(4) {
  transition: 0.2s 0.65s all;
}

.container .main .inner-content.on .bottom span:nth-child(5) {
  transition: 0.2s 0.7s all;
}

.container .main .inner-content.on .bottom span:nth-child(6) {
  transition: 0.2s 0.75s all;
}

.container .main .inner-content.on .bottom span:nth-child(7) {
  transition: 0.2s 0.8s all;
}

.container .main .inner-content.on .bottom span:nth-child(8) {
  transition: 0.2s 0.85s all;
}

.container .main .inner-content.on .bottom span:nth-child(9) {
  transition: 0.2s 0.9s all;
} */

.container .main .inner-content h2 {
  color: #ffffff;
  font-size: 100px;
}

.container .section-wrap {
  background-color: #282828;
  padding-bottom: 220px;
}

.container .select-section {
  height: 65vh;
  background: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container .select-section h2 {
  color: #ffffff;
  font-weight: 500;
  font-size: 50px;
  margin-bottom: 70px;
}

.container .section {
  background-color: #282828;
}

.container .card-container {
  background-color: #282828;
}

.select-section .select-list-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min(903px, 55vw);
  margin: 0 auto;
}

.select-section .select-list-box .select-list .select-list-image {
  width: min(200px, 10.42vw);
  height: min(200px, 10.42vw);
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 3px solid transparent;
  transition: 0.4s all;
}

.select-section .select-list-box .select-list:hover .select-list-image {
  border: 3px solid #ffffff;
}

.select-section .select-list-box .select-list img {
  width: 100%;
  height: 100%;
}

.select-section .select-list-box p {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #7f7f7f;
  transition: 0.4s all;
}

.select-section .select-list-box .select-list:hover p {
  color: #ffffff;
}

.container .inner-container {
  width: 100%;
  overflow: hidden;
}

.container .section .section-head {
  padding: 136px 118px 25px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.container .section .section-head div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container .section .section-head div p {
  margin-left: 20px;
  padding: 3px 0 3px 20px;
  border-left: 1px solid #ffffff;
  color: #4af4f2;
  font-size: 24px;
  font-weight: 500;
}

/*main-content*/
.container .section-content .section-head h2 {
  font-size: 32px;
  font-weight: 500;
  color: #ffffff;
}

.container .section-content .section-head p {
  font-size: 18px;
  color: #a3a3a3;
}

.container .main-slider-container {
  width: 100%;
  position: relative;
}

.container .gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0) 25%,
    rgba(0, 0, 0, 0) 75%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

.container .slider-wrap {
  width: 962px;
  margin: 0 auto;
}

.container .main-slider .slick-list {
  overflow: visible;
}

.container .main-slider .slide-list {
  width: 962px;
  height: 383px;
  padding: 0 5px;
  overflow: visible;
}

.container .main-slider .slide-list-image {
  overflow: hidden;
  border-radius: 13px;
}

.container .main-slider .slide-list img {
  max-width: inherit;
  width: 100%;
}

.container .main-slide-arrow {
  position: absolute;
  z-index: 40;
  top: 50%;
  right: 30px;
  z-index: 10;
  width: 80px;
  height: 80px;
  transform: translateY(-50%);
}

.slick-next:before,
.slick-prev:before {
  content: "" !important;
}

.container .main-slide-prev {
  top: 50%;
  right: auto;
  left: 30px;
  transform: translateY(-50%);
}

.container .main-slide-arrow img {
  width: 100%;
}

.container .main-slider .slick-dots {
  bottom: -81px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .main-slider .slick-dots .slide-controller {
  background: transparent;
  border: none;
  width: 45px;
  height: 45px;
  position: relative;
  margin-right: 5px;
}

.container .main-slider .slick-dots .slide-controller img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.container .main-slider .slick-dots .slide-controller img:first-child {
  opacity: 0;
}

.container .main-slider .slick-dots .slide-controller img:last-child {
  opacity: 1;
}

.container .main-slider .slick-dots .slide-controller.play img:first-child {
  opacity: 1;
}

.container .main-slider .slick-dots .slide-controller.play img:last-child {
  opacity: 0;
}

.container .main-slider .slick-dots ul {
  padding-top: 3px;
}

.container .main-slider .slick-dots li {
  width: 10px;
  height: 10px;
  margin: 0 6px;
  overflow: hidden;
  border-radius: 5px;
  transition: 0.3s all;
  background: #727272;
}

.container .main-slider .slick-dots li.slick-active {
  background: #ffffff;
  width: 20px;
}

.container .main-slider .slick-dots li button {
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

.container .main-slider .slick-dots li button:before {
  content: "";
}

.not-slide-card {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 54px;
}

.not-slide-card.wrap {
  flex-wrap: wrap;
}

.not-slide-card div div {
  overflow: hidden;
  border-radius: 10px;
}

.not-slide-card div img {
  transition: 0.2s all ease-in-out;
  height: 100%;
  scale: 1;
}

.not-slide-card div:hover img {
  scale: 1.05;
}

.card-container * {
  background-color: #282828;
}

.card-container img {
  width: 100%;
}

.card-slide-box {
  position: relative;
  margin: 0 113px;
}

.card-slide-box .slick-list {
  position: relative;
  overflow: visible;
}

.card-slide-box .slick-list:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-100%);
  width: 113px;
  height: 100%;
  background: #282828;
  z-index: 10;
}

.card-slide-box .slick-list:after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  transform: translateX(100%);
  width: 113px;
  height: 100%;
  background: #282828;
  z-index: 10;
}

.card-slide-box .slide-card {
  height: 100%;
  padding: 0 5px;
  display: block !important;
}

.card-slide-box .slide-card > div {
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  transition: 0.2s all ease-in-out;
  transform: translateY(0%);
}

.card-slide-box .slide-card:hover > div {
  transform: translateY(-5%);
}

.card-slide-box .slide-card div div {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: 0.2s all;
}

.card-slide-box .slide-card div.not-select div {
  opacity: 1;
}

.card-slide-box .slide-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container .card-slide-arrow {
  left: 0;
  z-index: 10;
  width: 50px;
  height: 72px;
  opacity: 0.7;
}

.container .card-slide-arrow .inner-arrow-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .card-slide-arrow.card-slide-next {
  left: auto;
  right: 0;
}

.container .card-slide-arrow .inner-arrow-box div {
  width: 18px;
  height: 25px;
  scale: 1.4;
}

.container .card-slide-arrow div img {
  width: 100%;
  height: 100%;
}

.card-slide-box .left-gradient {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: calc(100% + 20px);
  width: 8%;
  border-radius: 10px 0 0 10px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

.card-slide-box .right-gradient {
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
  height: calc(100% + 20px);
  width: 8%;
  border-radius: 0 10px 10px 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0) 100%);
}

.card-detail-box {
  position: relative;
  margin: 30px 113px 0;
  padding: 10px;
  transition: 0.4s all;
  display: flex;
  align-items: center;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-sizing: content-box;
}

.card-detail-box.isWrap {
  flex-wrap: wrap;
}

.card-detail-box.on {
  opacity: 1;
  pointer-events: auto;
}

.card-detail-box > div {
  padding: 0 5px;
  height: 100%;
  overflow: hidden;
  border-radius: 20px;
}

.card-detail-box.isWrap > div:last-child {
  margin-bottom: 0 !important;
}

.card-detail-box > div > div {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 15px;
}

.card-detail-box div img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-detail-box .empty {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  opacity: 0.2;
}

.footer .footer-content,
.footer .footer-header {
  padding: 0 267px;
  display: flex;
}

.footer .footer-header {
  height: 74px;
  align-items: center;
  justify-content: left;
  border-top: 1px solid #5c5c5c;
  border-bottom: 1px solid #5c5c5c;
}

.footer .footer-header p {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.footer .footer-content {
  padding-top: 50px;
  padding-bottom: 200px;
  flex-wrap: wrap;
}

.footer .footer-content p {
  font-size: 20px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  line-height: 30px;
}

.footer .footer-content p:first-child {
  width: 100%;
  margin-bottom: 15px;
}

.footer .footer-content p:first-child b {
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
}

.footer .footer-content p:last-child {
  margin-left: 80px;
}

.top-btn {
  position: fixed;
  top: 80vh;
  right: 80px;
  width: 80px;
  height: 60px;
  z-index: 10;
  background: none;
  border: none;
  outline: none;
  transition: 0.2s all ease-in-out;
  opacity: 0;
}

.top-btn.on {
  opacity: 1;
}

.top-btn img {
  width: 100%;
}

@keyframes mouse {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.intro-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: translateY(0%);
}

.intro-bg.bg-blue {
  z-index: 40;
  background: #1c78ff;
}

.intro-bg.bg-white {
  z-index: 30;
  background: white;
}

.intro-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  background: #000;
  transform: translateY(0%);
}

.intro-container.out {
  transform: translateY(-100%);
  transition: 0.6s 0.8s all;
}

.intro-bg.bg-blue.out {
  transform: translateY(-100%);
  transition: 0.6s 0.9s all;
}

.intro-bg.bg-white.out {
  transform: translateY(-100%);
  transition: 0.6s 1s all;
}

.intro-container .loading-text-box {
  position: relative;
}

.intro-container .loading-text-box .bg-box,
.intro-container .loading-text-box .top-box {
  display: flex;
  align-items: flex-end;
  opacity: 0.3;
  transition: 1.2s all cubic-bezier(0.83, 0, 0.17, 1);
}

.intro-container.in .loading-text-box .bg-box,
.intro-container.in .loading-text-box .top-box {
  opacity: 1;
}

.intro-container.in .loading-text-box .bg-box span,
.intro-container.in .loading-text-box .top-box span {
  transform: rotateY(0deg);
}

.intro-container .loading-text-box .top-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  overflow: hidden;
  transition: 1.2s all cubic-bezier(0.83, 0, 0.17, 1);
}

/*.intro-container.on*/
.intro-container.on .loading-text-box .top-box {
  width: 101%;
}

.intro-container .loading-text-box .bg-box span,
.intro-container .loading-text-box .top-box span {
  position: relative;
  display: block;
  -webkit-text-stroke-width: 1px;
  font-size: 20.11vw;
  line-height: 16.93vw;
  letter-spacing: -0.03em;
  font-weight: 700;
  box-sizing: border-box;
  font-family: "PT Sans Narrow", sans-serif;
  transform: rotateY(90deg);
}

.intro-container.in .loading-text-box .bg-box span:nth-child(1),
.intro-container.in .loading-text-box .top-box span:nth-child(1) {
  transition: 0.2s 0.1s all;
}

.intro-container.in .loading-text-box .bg-box span:nth-child(2),
.intro-container.in .loading-text-box .top-box span:nth-child(2) {
  transition: 0.2s 0.15s all;
}

.intro-container.in .loading-text-box .bg-box span:nth-child(3),
.intro-container.in .loading-text-box .top-box span:nth-child(3) {
  transition: 0.2s 0.2s all;
}

.intro-container.in .loading-text-box .bg-box span:nth-child(4),
.intro-container.in .loading-text-box .top-box span:nth-child(4) {
  transition: 0.2s 0.25s all;
}

.intro-container.in .loading-text-box .bg-box span:nth-child(5),
.intro-container.in .loading-text-box .top-box span:nth-child(5) {
  transition: 0.2s 0.3s all;
}

.intro-container.in .loading-text-box .bg-box span:nth-child(6),
.intro-container.in .loading-text-box .top-box span:nth-child(6) {
  transition: 0.2s 0.35s all;
}

.intro-container.in .loading-text-box .bg-box span:nth-child(7),
.intro-container.in .loading-text-box .top-box span:nth-child(7) {
  transition: 0.2s 0.4s all;
}

/* out */
.intro-container.out .loading-text-box .bg-box span:nth-child(1),
.intro-container.out .loading-text-box .top-box span:nth-child(1) {
  transition: 0.2s 0.5s all;
}

.intro-container.out .loading-text-box .bg-box span:nth-child(2),
.intro-container.out .loading-text-box .top-box span:nth-child(2) {
  transition: 0.2s 0.45s all;
}

.intro-container.out .loading-text-box .bg-box span:nth-child(3),
.intro-container.out .loading-text-box .top-box span:nth-child(3) {
  transition: 0.2s 0.4s all;
}

.intro-container.out .loading-text-box .bg-box span:nth-child(4),
.intro-container.out .loading-text-box .top-box span:nth-child(4) {
  transition: 0.2s 0.35s all;
}

.intro-container.out .loading-text-box .bg-box span:nth-child(5),
.intro-container.out .loading-text-box .top-box span:nth-child(5) {
  transition: 0.2s 0.3s all;
}

.intro-container.out .loading-text-box .bg-box span:nth-child(6),
.intro-container.out .loading-text-box .top-box span:nth-child(6) {
  transition: 0.2s 0.25s all;
}

.intro-container.out .loading-text-box .bg-box span:nth-child(7),
.intro-container.out .loading-text-box .top-box span:nth-child(7) {
  transition: 0.2s 0.2s all;
}

.intro-container.on.out .loading-num-box .num-box.first {
  transition: 0.2s 0.15s all;
  transform: translateY(calc(-100% + 19vw)) rotateY(90deg);
}

.intro-container.on.out .loading-num-box .num-box.second {
  transition: 0.2s 0.1s all;
  transform: translateY(calc(-100% + 19vw)) rotateY(90deg);
}

.intro-container.on.out .loading-num-box p.last {
  transition: 0.2s 0.05s all;
  transform: rotateY(90deg);
}

.intro-container .loading-text-box .bg-box span {
  color: transparent;
  -webkit-text-stroke-color: #ffffff;
}

.intro-container .loading-text-box .top-box span {
  color: #ffffff;
  -webkit-text-stroke-color: #ffffff;
}

.intro-container .loading-num-box {
  width: 39vw;
  display: flex;
  align-items: flex-end;
  font-family: "PT Sans Narrow", sans-serif;
}

.intro-container .loading-num-box .num-container {
  width: 66.6666%;
  height: 16.93vw;
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
}

.intro-container .loading-num-box .num-box {
  position: absolute;
  top: 0;
}

.intro-container .loading-num-box .num-box.first {
  left: -0.8vw;
  transform: translateY(0) rotateY(90deg);
}

.intro-container.in .loading-num-box .num-box.first {
  transform: translateY(0) rotateY(0deg);
  transition: 0.2s 0.45s all;
}

/*.intro-container.on*/
.intro-container.on .loading-num-box .num-box.first {
  transition: 1.2s 0.2s ease-in-out;
  transform: translateY(calc(-100% + 19vw)) rotateY(0deg);
}

.intro-container .loading-num-box .num-box.second {
  right: 0;
  transform: translateY(0) rotateY(90deg);
  transition: 1.2s ease-in-out;
}

.intro-container.in .loading-num-box .num-box.second {
  transform: translateY(0) rotateY(0deg);
  transition: 0.2s 0.5s all;
}

/*.intro-container.on*/
.intro-container.on .loading-num-box .num-box.second {
  transition: 1.2s ease-in-out;
  transform: translateY(calc(-100% + 19vw)) rotateY(0deg);
}

.intro-container .loading-num-box p {
  width: 100%;
  text-align: flex-end;
  flex-grow: 1;
  font-size: 18.5vw;
  line-height: 16vw;
}

.intro-container .loading-num-box p,
.intro-container .loading-num-box .num-box p {
  width: auto;
  color: #ffffff;
  font-weight: 700;
  box-sizing: border-box;
  font-family: "Sofia Sans Extra Condensed", sans-serif;
  letter-spacing: -0.02em;
}

.intro-container .loading-num-box .num-box p {
  font-size: 20.11vw;
  letter-spacing: -0.05em;
  line-height: 19vw;
}

.intro-container .loading-num-box p.last {
  position: relative;
  transform: rotateY(90deg);
}

.intro-container.in .loading-num-box p.last {
  transition: 0.2s 0.55s all;
  transform: rotateY(0deg);
}

/* 1500 */
@media screen and (max-width: 1500px) {
  .container .main {
    padding: 60px 60px 60px 55px;
  }

  .container .section .section-head {
    padding: 136px 60px 25px;
  }

  .container .main-slide-arrow {
    right: 20px;
  }

  .container .main-slide-prev {
    left: 20px;
  }

  .card-slide-box {
    margin: 0 54px;
  }

  .card-detail-box {
    margin: 30px 54px 0;
  }

  .footer .footer-content,
  .footer .footer-header {
    padding-left: 133px;
    padding-right: 133px;
  }
}

/* 1280 */
@media screen and (max-width: 1280px) {
  .container .main {
    padding: 60px 60px 60px 55px;
  }

  .container .section-wrap {
    padding-bottom: 110px;
  }

  .container .select-section {
    height: 70vh;
  }

  .container .select-section h2 {
    font-size: 35px;
    margin-bottom: 40px;
  }

  .select-section .select-list-box {
    width: min(903px, 60.2vw);
  }

  .select-section .select-list-box .select-list .select-list-image {
    width: min(200px, 13.33vw);
    height: min(200px, 13.33vw);
    border: 2px solid transparent;
  }

  .select-section .select-list-box .select-list:hover .select-list-image {
    border: 2px solid #ffffff;
  }

  .container .section .section-head {
    padding: 40px 60px 25px;
  }

  .container .section .section-head div p {
    margin-left: 15px;
    padding: 3px 0 3px 15px;
    font-size: 18px;
  }

  /*main-content*/
  .container .section-content .section-head h2 {
    font-size: 24px;
  }

  .container .section-content .section-head p {
    font-size: 16px;
    color: #a3a3a3;
  }

  .container .slider-wrap {
    width: min(962px, 75.16vw);
  }

  .container .main-slider .slide-list {
    width: min(962px, 75.16vw);
    height: min(383px, 29.92vw);
  }

  .container .main-slide-arrow {
    width: 60px;
    height: 60px;
  }

  .container .main-slider .slick-dots {
    bottom: -65px;
  }

  .container .main-slider .slick-dots .slide-controller {
    width: 45px;
    height: 45px;
    margin-right: 5px;
  }

  .container .main-slider .slick-dots li.slick-active {
    width: 20px;
  }

  .not-slide-card {
    margin: 0 54px;
  }

  .card-slide-box {
    margin: 0 54px;
  }

  .card-slide-box .slick-list:before {
    width: 113px;
  }

  .card-slide-box .slide-card {
    padding: 0 5px;
  }

  .container .card-slide-arrow {
    width: 40px;
    height: 65px;
  }

  .container .card-slide-arrow .inner-arrow-box div {
    width: 18px;
    height: 25px;
    scale: 1.4;
  }

  .card-detail-box .empty {
    font-size: 18px;
  }

  .footer .footer-content,
  .footer .footer-header {
    padding: 0 113px;
  }

  .footer .footer-header {
    height: 60px;
  }

  .footer .footer-header p {
    font-size: 18px;
  }

  .footer .footer-content {
    padding-top: 30px;
    padding-bottom: 100px;
  }

  .footer .footer-content p {
    font-size: 16px;
    line-height: 24px;
  }

  .footer .footer-content p:first-child {
    margin-bottom: 10px;
  }

  .footer .footer-content p:last-child {
    margin-left: 40px;
  }

  .top-btn {
    right: 40px;
    width: 70px;
    height: 70px;
  }
}
